body { background-color: #f4f7f6; font-family: 'Poppins', sans-serif; }

.main-card { border: none; border-radius: 15px; box-shadow: 0 10px 30px rgba(0,0,0,0.08); }

.tr-clickable { cursor: pointer; transition: 0.2s; }
.selected-row { border-left: 5px solid #0d6efd !important; background-color: #f8f9fa !important; }

.btn-action { width: 100px; font-weight: 600; font-size: 0.85rem; }

.status-badge { padding: 5px 12px; border-radius: 20px; font-size: 0.75rem; font-weight: 700; text-transform: uppercase; }
.bg-paid { background-color: #d1e7dd; color: #0f5132; } /* In Stock */
.bg-unpaid { background-color: #f8d7da; color: #842029; } /* Low Stock */
